<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="{{ asset('css/header/styles.css') }}" rel="stylesheet" />

    <style>
        /* Styles pour la div 'actus' */
        .actus {
            color: #0e243b;
            background-color: white;
            border-radius: 10px;
            padding: 20px;
        }

        .contact-group {
            flex-wrap: nowrap;
        }

        .contact-group h5 {
            white-space: nowrap;
        }

        /* Styles pour la div 'actus' */
        .actus {
            color: #0e243b;
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            max-width: 800px; /* Limite la largeur maximale */
            width: 100%; /* Prend toute la largeur possible */
            margin-left: auto;
            margin-right: auto;
        }

        .contact-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .buttons-group {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        .buttons-group .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.5rem;
        }

        .buttons-group .btn:last-child {
            margin-right: 0;
        }

        /* Ajustement des tailles de police et espacements pour la div 'actus' */
        .actus h1 {
            font-size: 1.8rem;
        }

        .actus h5 {
            font-size: 1.2rem;
        }

        .actus .btn {
            font-size: 1rem;
            padding: 0.5rem 0.75rem;
        }

        .actus i {
            font-size: 1.8rem;
        }

        /* Media queries pour petits écrans */
        @media (max-width: 576px) {
            .actus {
                width: 95%; /* Augmente la largeur sur mobile */
            }
            .contact-group {
                flex-direction: column;
                align-items: center;
            }
            .buttons-group {
                flex-direction: row;
                justify-content: center;
            }
            .contact-group h5 {
                margin-bottom: 0.5rem;
            }
            .buttons-group .btn {
                margin-right: 0.5rem;
            }
            .buttons-group .btn:last-child {
                margin-right: 0;
            }
            .actus h1 {
                font-size: 1.6rem;
            }
            .actus h5 {
                font-size: 1.1rem;
            }
            .actus .btn {
                font-size: 1rem;
                padding: 0.5rem 0.75rem;
            }
            .actus i {
                font-size: 1.8rem;
            }
        }

        /* Ajustements pour écrans moyens */
        @media (min-width: 576px) and (max-width: 768px) {
            .actus h1 {
                font-size: 1.8rem;
            }
            .actus h5 {
                font-size: 1.2rem;
            }
            .actus .btn {
                font-size: 1.1rem;
                padding: 0.5rem 0.75rem;
            }
            .actus i {
                font-size: 2rem;
            }
        }

        /* Media queries pour écrans larges */
        @media (min-width: 768px) {
            .actus h1 {
                font-size: 2rem;
            }
            .actus h5 {
                font-size: 1.3rem;
            }
            .actus .btn {
                font-size: 1.2rem;
                padding: 0.6rem 1rem;
            }
            .actus i {
                font-size: 2.2rem;
            }
        }

        /* Media queries pour écrans extra-larges */
        @media (min-width: 992px) {
            .actus h1 {
                font-size: 2.2rem;
            }
            .actus h5 {
                font-size: 1.4rem;
            }
            .actus .btn {
                font-size: 1.3rem;
                padding: 0.7rem 1.2rem;
            }
            .actus i {
                font-size: 2.4rem;
            }
        }



    </style>
</head>
<body>

<section class="masthead text-white text-center head" id="page-top">
    <!-- Div Area en Arrière-Plan -->
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <!-- Contenu Principal -->
    <div class="card">
        <div class="container">
            <!-- Ajout de 'mx-auto' pour centrer la div 'actus' -->
            <div class="actus position-relative mx-auto">
                <!-- Bouton de fermeture -->
                <button type="button" class="btn-close position-absolute top-0 end-0 m-2" aria-label="Fermer"></button>
                <h1>En recherche d'alternance : <br>Expert en Sécurité Digitale</h1>
                <h5>(de Septembre 2025 à 2027)</h5>
                <!-- Section modifiée pour le "Contactez-moi" -->
                <div class="d-flex justify-content-center mt-4">
                    <div class="contact-group text-center">
                        <h5 class="mb-2">Contactez-moi :</h5>
                        <div class="d-flex justify-content-center align-items-center buttons-group">
                            <a class="btn btn-outline-custom me-1" href="https://www.linkedin.com/in/arthur-bouchaud-a74981238/" target="_blank" aria-label="LinkedIn">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <!-- Bouton Téléphone avec déclenchement du modal -->
                            <button type="button" class="btn btn-outline-custom me-1" data-bs-toggle="modal" data-bs-target="#phoneModal" aria-label="Téléphone">
                                <i class="fa-solid fa-phone"></i>
                            </button>
                            <!-- Bouton Enveloppe avec déclenchement du modal -->
                            <button type="button" class="btn btn-outline-custom" data-bs-toggle="modal" data-bs-target="#emailModal" aria-label="Email">
                                <i class="fa-solid fa-envelope"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row align-items-center">
                <!-- Colonne pour le texte statique à gauche -->
                <div class="col-md-6 order-2 order-md-1 text-md-start text-center">
                    <h3 class="head-subheading mb-3">Bienvenue sur mon site !</h3>
                    <h2 class="head-heading mb-3">Arthur Bouchaud</h2>
                    <!-- Séparation de la ligne dynamique -->
                    <div class="dynamic-line mb-3">je suis
                        <span id="dynamic-text" class="typing-effect"></span>
                    </div>
                </div>

                <!-- Colonne pour l'image à droite -->
                <div class="col-md-6 order-1 order-md-2 text-center mb-4 mb-md-0">
                    <div class="image-container">
                        <img
                                src="{{ asset('img/bouchaud.png') }}"
                                alt="Avatar image"
                                class="img-fluid"
                        />
                    </div>
                </div>

            </div>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa-solid fa-microchip"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Boutons CV et Contactez-moi alignés au centre et de même taille -->
            <div class="d-flex justify-content-center mt-4">
                <div class="row g-2" style="width: 300px;">
                    <div class="col">
                        <a href="{{ asset('files/cv/CV_Arthur_Bouchaud.pdf') }}" class="btn btn-outline-light w-100" download>
                            <i class="fa-solid fa-download"></i> CV
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-custom w-100" href="#contact">Contactez-moi</a>
                    </div>
                </div>
            </div>
            <!-- Boutons des réseaux sociaux sur une même ligne -->
            <div class="d-flex justify-content-center mt-4">
                <div class="d-flex gap-2">
                    <a class="btn btn-custom" href="https://www.linkedin.com/in/arthur-bouchaud-a74981238/" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                    <a class="btn btn-custom" href="https://github.com/bcharthur" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
                    <!-- Bouton Téléphone avec déclenchement du modal -->
                    <button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#phoneModal">
                        <i class="fa-solid fa-phone fa-2x"></i>
                    </button>
                    <!-- Bouton Enveloppe avec déclenchement du modal -->
                    <button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#emailModal">
                        <i class="fa-solid fa-envelope fa-2x"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Modal Téléphone -->
<div class="modal fade" id="phoneModal" tabindex="-1" aria-labelledby="phoneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="phoneModalLabel">Contact Téléphone (06.18.71.98.72)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body text-center">
                <button id="sendMessageButton" class="btn btn-custom m-2">Envoyer un message</button>
                <button id="callButton" class="btn btn-custom m-2">Appeler</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Enveloppe -->
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emailModalLabel">Contact Email (art.bouchaud@gmail.com)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body text-center">
                <button id="sendEmailButton" class="btn btn-custom m-2">Envoyer un email</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts Existants -->

<script src="{{ asset('js/header/typewords.js') }}"></script>
<script src="{{ asset('js/header/contact.js') }}"></script>

<!-- Script pour la suppression de la div 'actus' -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var closeButton = document.querySelector('.actus .btn-close');
        closeButton.addEventListener('click', function() {
            var actus = this.closest('.actus');
            actus.parentNode.removeChild(actus);
        });
    });
</script>

</body>
</html>
