<!-- Portfolio Modals-->

<!-- Portfolio Modal FS1 -->
<div class="portfolio-modal modal fade" id="portfolioModalFS1" tabindex="-1" aria-labelledby="portfolioModalFS1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">YouTube Downloader</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fa-brands fa-youtube"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/portfolio/ytb-downloader.png')}}" alt="YouTube Downloader" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du projet YouTube Downloader...</p>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal FS2 -->
<div class="portfolio-modal modal fade" id="portfolioModalFS2" tabindex="-1" aria-labelledby="portfolioModalFS2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">Social Media</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/portfolio/cake.png')}}" alt="Social Media" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du projet Social Media...</p>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal FS3 -->
<div class="portfolio-modal modal fade" id="portfolioModalFS3" tabindex="-1" aria-labelledby="portfolioModalFS3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">IDE Python Online</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/portfolio/circus.png')}}" alt="IDE Python Online" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du projet IDE Python Online...</p>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal CC1 -->
<div class="portfolio-modal modal fade" id="portfolioModalCC1" tabindex="-1" aria-labelledby="portfolioModalCC1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">TCP - Retour au collège</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fa-brands fa-python"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="TCP - Retour au collège" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du Challenge TCP - Retour au collège...</p>
                            <!-- Boutons Action -->
                            <div class="d-flex justify-content-center mb-4">
                                <div class="btn-group" role="group" aria-label="Action Buttons">
                                    <a href="https://www.root-me.org/fr/Challenges/Programmation/ELF-x64-Shellcoding-Sheep-warmup" target="_blank" rel="noopener noreferrer" class="btn btn-custom me-2">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Le challenge
                                    </a>
                                    <a href="https://github.com/bcharthur/root-me/blob/main/programmation/ELFx64-Shellcoding-SheepWarmup" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Ma soluce
                                    </a>
                                </div>
                            </div>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal CC2 -->
<div class="portfolio-modal modal fade" id="portfolioModalCC2" tabindex="-1" aria-labelledby="portfolioModalCC2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">TCP - Chaîne encodée</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fa-brands fa-python"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="TCP - Chaîne encodée" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du Challenge TCP - Chaîne encodée...</p>
                            <!-- Boutons Action -->
                            <div class="d-flex justify-content-center mb-4">
                                <div class="btn-group" role="group" aria-label="Action Buttons">
                                    <a href="https://www.root-me.org/fr/Challenges/Programmation/ELF-x64-Shellcoding-Sheep-warmup" target="_blank" rel="noopener noreferrer" class="btn btn-custom me-2">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Le challenge
                                    </a>
                                    <a href="https://github.com/bcharthur/root-me/blob/main/programmation/ELFx64-Shellcoding-SheepWarmup" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Ma soluce
                                    </a>
                                </div>
                            </div>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal CC3 -->
<div class="portfolio-modal modal fade" id="portfolioModalCC3" tabindex="-1" aria-labelledby="portfolioModalCC3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">TCP - La roue romaine</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="TCP - La roue romaine" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du Challenge TCP - La roue romaine...</p>
                            <!-- Boutons Action -->
                            <div class="d-flex justify-content-center mb-4">
                                <div class="btn-group" role="group" aria-label="Action Buttons">
                                    <a href="https://www.root-me.org/fr/Challenges/Programmation/ELF-x64-Shellcoding-Sheep-warmup" target="_blank" rel="noopener noreferrer" class="btn btn-custom me-2">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Le challenge
                                    </a>
                                    <a href="https://github.com/bcharthur/root-me/blob/main/programmation/ELFx64-Shellcoding-SheepWarmup" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Ma soluce
                                    </a>
                                </div>
                            </div>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal CC4 -->
<div class="portfolio-modal modal fade" id="portfolioModalCC4" tabindex="-1" aria-labelledby="portfolioModalCC4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">TCP - Uncompress Me</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="Solveur de polynômes du second degré" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du Challenge Solveur de polynômes du second degré...</p>
                            <!-- Boutons Action -->
                            <div class="d-flex justify-content-center mb-4">
                                <div class="btn-group" role="group" aria-label="Action Buttons">
                                    <a href="https://www.root-me.org/fr/Challenges/Programmation/ELF-x64-Shellcoding-Sheep-warmup" target="_blank" rel="noopener noreferrer" class="btn btn-custom me-2">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Le challenge
                                    </a>
                                    <a href="https://github.com/bcharthur/root-me/blob/main/programmation/ELFx64-Shellcoding-SheepWarmup" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Ma soluce
                                    </a>
                                </div>
                            </div>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal CC5 -->
<div class="portfolio-modal modal fade" id="portfolioModalCC5" tabindex="-1" aria-labelledby="portfolioModalCC5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">CAPTCHA me if you can</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="Solveur de polynômes du second degré" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du Challenge Solveur de polynômes du second degré...</p>
                            <!-- Boutons Action -->
                            <div class="d-flex justify-content-center mb-4">
                                <div class="btn-group" role="group" aria-label="Action Buttons">
                                    <a href="https://www.root-me.org/fr/Challenges/Programmation/ELF-x64-Shellcoding-Sheep-warmup" target="_blank" rel="noopener noreferrer" class="btn btn-custom me-2">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Le challenge
                                    </a>
                                    <a href="https://github.com/bcharthur/root-me/blob/main/programmation/ELFx64-Shellcoding-SheepWarmup" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Ma soluce
                                    </a>
                                </div>
                            </div>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal CC6 -->
<div class="portfolio-modal modal fade" id="portfolioModalCC6" tabindex="-1" aria-labelledby="portfolioModalCC6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">ELF x64 - Shellcoding - Sheep warmup</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="Solveur de polynômes du second degré" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du Challenge Solveur de polynômes du second degré...</p>
                            <!-- Boutons Action -->
                            <div class="d-flex justify-content-center mb-4">
                                <div class="btn-group" role="group" aria-label="Action Buttons">
                                    <a href="https://www.root-me.org/fr/Challenges/Programmation/ELF-x64-Shellcoding-Sheep-warmup" target="_blank" rel="noopener noreferrer" class="btn btn-custom me-2">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Le challenge
                                    </a>
                                    <a href="https://github.com/bcharthur/root-me/blob/main/programmation/ELFx64-Shellcoding-SheepWarmup" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Ma soluce
                                    </a>
                                </div>
                            </div>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal CC6 -->
<div class="portfolio-modal modal fade" id="portfolioModalCC6" tabindex="-1" aria-labelledby="portfolioModalCC6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">Solveur de polynômes du second degré</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="Solveur de polynômes du second degré" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du Challenge Solveur de polynômes du second degré...</p>
                            <!-- Boutons Action -->
                            <div class="d-flex justify-content-center mb-4">
                                <div class="btn-group" role="group" aria-label="Action Buttons">
                                    <a href="https://www.root-me.org/fr/Challenges/Programmation/ELF-x64-Shellcoding-Sheep-warmup" target="_blank" rel="noopener noreferrer" class="btn btn-custom me-2">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Le challenge
                                    </a>
                                    <a href="https://github.com/bcharthur/root-me/blob/main/programmation/ELFx64-Shellcoding-SheepWarmup" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Ma soluce
                                    </a>
                                </div>
                            </div>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Portfolio Modal AP1 -->
<div class="portfolio-modal modal fade" id="portfolioModalAP1" tabindex="-1" aria-labelledby="portfolioModalAP1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">Root Me - 755 pts</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/portfolio/rootmecard.png')}}" alt="Root Me" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du projet Root Me...</p>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal AP2 -->
<div class="portfolio-modal modal fade" id="portfolioModalAP2" tabindex="-1" aria-labelledby="portfolioModalAP2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">CyberLearning - 2690 pts</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/portfolio/cyberlearning.png')}}" alt="CyberLearning" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du projet CyberLearning...</p>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal AP3 -->
<div class="portfolio-modal modal fade" id="portfolioModalAP3" tabindex="-1" aria-labelledby="portfolioModalAP3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">Try Hack Me</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/portfolio/tryhackme.png')}}" alt="Try Hack Me" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du projet Try Hack Me...</p>
                            <!-- Boutons Action -->
                            <div class="d-flex justify-content-center mb-4">
                                <div class="btn-group" role="group" aria-label="Action Buttons">
                                    <a href="https://www.root-me.org/fr/Challenges/Programmation/ELF-x64-Shellcoding-Sheep-warmup" target="_blank" rel="noopener noreferrer" class="btn btn-custom me-2">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Le challenge
                                    </a>
                                    <a href="https://github.com/bcharthur/root-me/blob/main/programmation/ELFx64-Shellcoding-SheepWarmup" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">
                                        <i class="fa-solid fa-link fa-lg me-2"></i> Ma soluce
                                    </a>
                                </div>
                            </div>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal AP4 -->
<div class="portfolio-modal modal fade" id="portfolioModalAP4" tabindex="-1" aria-labelledby="portfolioModalAP4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">The Black Side</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/portfolio/theblackside.png')}}" alt="The Black Side" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du projet The Black Side...</p>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal AP5 -->
<div class="portfolio-modal modal fade" id="portfolioModalAP5" tabindex="-1" aria-labelledby="portfolioModalAP5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-4">Hack The Box</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom mb-4">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-4 project-img-custom" src="{{ asset('img/portfolio/htb2.png')}}" alt="Hack The Box" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Description détaillée du projet Hack The Box...</p>
                            <!-- Bouton de Fermeture -->
                            <button class="btn btn-custom" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw me-2"></i> Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ajoutez plus de modals AP6, AP7, etc., si nécessaire -->

<style>
    @keyframes modalFadeIn {
        from {
            opacity: 0;
            transform: scale(0.9);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes modalFadeOut {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(0.9);
        }
    }

    .modal.fade .modal-dialog {
        animation: modalFadeIn 0.5s forwards;
    }

    .modal.fade.closing .modal-dialog {
        animation: modalFadeOut 0.5s forwards;
    }
</style>
