<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">


    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" crossorigin="anonymous">

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <link href="{{ asset('css/projets/styles.css') }}" rel="stylesheet" />
</head>
<body>


<!-- Section Projets -->
<section class="page-section portfolio text-custom mb-0 d-flex align-items-center" id="projets" style="min-height: 100vh;">

    <!-- Div Area en Arrière-Plan -->
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="container">
        <!-- Titre de la section -->
        <h2 class="page-section-heading text-center text-white text-uppercase mb-5">Mes derniers projets</h2>
        <!-- Divider avec icône -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Sous-titre Projet Full-Stack -->
        <h1 class="mb-4">Projet Full-Stack (visitable dans mon lab) :</h1>
        <!-- Grille des projets Full-Stack -->
        <div class="row justify-content-center mb-5">
            <!-- Projet 1 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalFS1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid project-img-custom" src="{{ asset('img/portfolio/ytb-downloader-2.png')}}" alt="YouTube Downloader" />
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">YouTube Downloader</span>
                        <div class="icon-container">
                            <i class="fa-brands fa-symfony"></i>
                            <i class="fa-brands fa-python"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Projet 2 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalFS2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid project-img-custom" src="{{ asset('img/portfolio/cake.png')}}" alt="Social Media" />
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">Social Media</span>
                        <img src="{{ asset('img/springboot.png') }}" alt="Spring Boot Logo" />
                    </div>
                </div>
            </div>
            <!-- Projet 3 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalFS3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid project-img-custom" src="{{ asset('img/portfolio/circus.png')}}" alt="IDE Python Online" />
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">IDE Python Online</span>
                        <div class="icon-container">
                            <i class="fa-brands fa-python"></i>
                            <i class="fa-brands fa-symfony"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sous-titre Projet & challenge cyber -->
        <h1 class="mb-4">Défis de programmation cyber :</h1>
        <!-- Conteneur Swiper -->
        <div class="swiper mb-5">
            <div class="swiper-wrapper">

                <!-- Challenge 1 -->
                <div class="swiper-slide">
                    <div class="project-item">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="TCP - Retour au collège" />
                        </div>
                        <div class="project-title d-flex align-items-center">
                            <img class="rootme-img me-2" src="{{ asset('img/rootme.svg') }}" alt="Root Me Logo" />
                            <span>App - Script</span>
                        </div>
                    </div>
                </div>

                <!-- Challenge 2 -->
                <div class="swiper-slide">
                    <div class="project-item">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="TCP - Chaîne encodée" />
                        </div>
                        <div class="project-title d-flex align-items-center">
                            <img class="rootme-img me-2" src="{{ asset('img/rootme.svg') }}" alt="Root Me Logo" />
                            <span>App - Système</span>
                        </div>
                    </div>
                </div>

                <!-- Challenge 3 -->
                <div class="swiper-slide">
                    <div class="project-item">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC3">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="TCP - La roue romaine" />
                        </div>
                        <div class="project-title d-flex align-items-center">
                            <img class="rootme-img me-2" src="{{ asset('img/rootme.svg') }}" alt="Root Me Logo" />
                            <span>Cracking</span>
                        </div>
                    </div>
                </div>

                <!-- Challenge 4 -->
                <div class="swiper-slide">
                    <div class="project-item">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC4">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="TCP - Uncompress Me" />
                        </div>
                        <div class="project-title d-flex align-items-center">
                            <img class="rootme-img me-2" src="{{ asset('img/rootme.svg') }}" alt="Root Me Logo" />
                            <span>Cryptanalyse</span>
                        </div>
                    </div>
                </div>

                <!-- Challenge 5 -->
                <div class="swiper-slide">
                    <div class="project-item">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC5">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="CAPTCHA me if you can" />
                        </div>
                        <div class="project-title d-flex align-items-center">
                            <img class="rootme-img me-2" src="{{ asset('img/rootme.svg') }}" alt="Root Me Logo" />
                            <span>Forensic</span>
                        </div>
                    </div>
                </div>

                <!-- Challenge 5 -->
                <div class="swiper-slide">
                    <div class="project-item">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC6">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="ELF x64 - Shellcoding - Sheep warmup" />
                        </div>
                        <div class="project-title d-flex align-items-center">
                            <img class="rootme-img me-2" src="{{ asset('img/rootme.svg') }}" alt="Root Me Logo" />
                            <span>Programmation</span>
                        </div>
                    </div>
                </div>

                <!-- Challenge 6 -->
                <div class="swiper-slide">
                    <div class="project-item">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC6">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="Solveur de polynômes du second degré" />
                        </div>
                        <div class="project-title d-flex align-items-center">
                            <img class="rootme-img me-2" src="{{ asset('img/rootme.svg') }}" alt="Root Me Logo" />
                            <span>Réaliste</span>
                        </div>
                    </div>
                </div>

                <!-- Challenge 7 -->
                <div class="swiper-slide">
                    <div class="project-item">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC7">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="Solveur de polynômes du second degré" />
                        </div>
                        <div class="project-title d-flex align-items-center">
                            <img class="rootme-img me-2" src="{{ asset('img/rootme.svg') }}" alt="Root Me Logo" />
                            <span>Réseau</span>
                        </div>
                    </div>
                </div>

                <!-- Challenge 8 -->
                <div class="swiper-slide">
                    <div class="project-item">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC7">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid project-img-custom" src="{{ asset('img/challenge/progprog.png')}}" alt="Solveur de polynômes du second degré" />
                        </div>
                        <div class="project-title d-flex align-items-center">
                            <img class="rootme-img me-2" src="{{ asset('img/rootme.svg') }}" alt="Root Me Logo" />
                            <span>Stéganographie</span>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Boutons de navigation -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <!-- Sous-titre Autres -->
        <h1 class="mb-4">Autres :</h1>
        <!-- Grille des autres projets -->
        <div class="row justify-content-center mb-5">
            <!-- Root Me -->
            <div class="col-md-6 col-lg-3 mb-5"> <!-- Changé col-lg-4 en col-lg-3 -->
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalAP1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid project-img-custom" src="{{ asset('img/portfolio/rootmecard.png')}}" alt="Root Me" />
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">Root Me</span>
                        <div class="icon-container">
                            <a href="https://www.root-me.org/br0nson" target="_blank" rel="noopener noreferrer" class="text-white">
                                <i class="fa-solid fa-link fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CyberLearning -->
            <div class="col-md-6 col-lg-3 mb-5"> <!-- Changé col-lg-4 en col-lg-3 -->
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalAP2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid project-img-custom" src="{{ asset('img/portfolio/cyberlearning.png')}}" alt="CyberLearning" />
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">Cyber-Learning</span>
                        <div class="icon-container">
                            <a href="https://cyber-learning.fr/hacker-stats/?hackeur_id=1126" target="_blank" rel="noopener noreferrer" class="text-white">
                                <i class="fa-solid fa-link fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TryHackMe -->
            <div class="col-md-6 col-lg-3 mb-5"> <!-- Changé col-lg-4 en col-lg-3 -->
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalAP3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid project-img-custom" src="{{ asset('img/portfolio/tryhackme.png')}}" alt="Try Hack Me" />
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">Try Hack Me</span>
                        <div class="icon-container">
                            <a href="https://tryhackme.com/r/p/br0nson" target="_blank" rel="noopener noreferrer" class="text-white">
                                <i class="fa-solid fa-link fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- The Black Side -->
            <div class="col-md-6 col-lg-3 mb-5"> <!-- Changé col-lg-4 en col-lg-3 -->
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalAP4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid project-img-custom" src="{{ asset('img/portfolio/theblackside.png')}}" alt="The Black Side" />
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">The Black Side</span>
                        <div class="icon-container">
                            <a href="https://theblackside.fr/profil/br0nson" target="_blank" rel="noopener noreferrer" class="text-white">
                                <i class="fa-solid fa-link fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Initialisation de Swiper -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper', {
            loop: true,
            autoplay: {
                delay: 3000, // Délai entre chaque slide en ms
                disableOnInteraction: false,
            },
            centeredSlides: true, // Centre les slides
            slidesPerView: 3, // Nombre de slides visibles
            spaceBetween: 30, // Espace entre les slides
            // Pagination retirée
            // pagination: {
            //     el: '.swiper-pagination',
            //     clickable: true,
            // },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // Points de rupture responsives
                320: {
                    slidesPerView: 1,
                    spaceBetween: 10
                },
                640: {
                    slidesPerView: 2,
                    spaceBetween: 20
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 30
                },
                1440: {
                    slidesPerView: 4,
                    spaceBetween: 40
                }
            }
        });

        // Optionnel : Pause l'autoplay lorsque la souris survole le carrousel
        var swiperContainer = document.querySelector('.swiper');
        swiperContainer.addEventListener('mouseenter', () => {
            swiper.autoplay.stop();
        });
        swiperContainer.addEventListener('mouseleave', () => {
            swiper.autoplay.start();
        });
    });
</script>

<script src="{{ asset('js/header/typewords.js') }}"></script>


</body>
</html>
