<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
{#    <link href="{{ asset('styles/projets/styles.css') }}" rel="stylesheet" />#}
</head>
<body>


<!-- Section Projets -->
<section class="page-section portfolio text-custom mb-0 d-flex align-items-center" id="projets" style="min-height: 100vh;">

    <!-- Div Area en Arrière-Plan -->
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="container">
        <!-- Titre de la section -->
        <h2 class="page-section-heading text-center text-white text-uppercase mb-5">Quelques-uns de mes projets</h2>
        <!-- Divider avec icône -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Sous-titre Projet Full-Stack -->
        <h1 class="mb-4">Projet développement :</h1>
        <div class="row justify-content-center mb-5">
            <!-- Projet 1 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalFS1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="project-img-custom d-flex align-items-center justify-content-center bg-primary text-white" style="height: 200px; width: 100%;">
                            <span><i class="fa-solid fa-globe"></i> API Web Download</span>
                        </div>
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">API Web Download</span>
                        <div class="icon-container">
                            <i class="fa-brands fa-python" style="font-size: 1.5rem;"></i>
                            <img src="{{ asset('/build/img/flask.svg') }}" alt="Flask Logo" style="width: 1.5rem; height: auto;" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Projet 2 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalFS2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="project-img-custom d-flex align-items-center justify-content-center bg-primary text-white" style="height: 200px; width: 100%;">
                            <span><i class="fa-regular fa-thumbs-up"></i> Social Media</span>
                        </div>
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">Social Media</span>
                        <div class="icon-container">
                            <i class="fa-brands fa-java"></i>
                            <img src="{{ asset('/build/img/springboot.png') }}" alt="Spring Boot Logo" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Projet 3 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalFS3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="project-img-custom d-flex align-items-center justify-content-center bg-primary text-white" style="height: 200px; width: 100%;">
                            <span><i class="fa-solid fa-leaf"></i> Green IT projet</span>
                        </div>
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">Green IT projet</span>
                        <div class="icon-container">
                            <i class="fa-brands fa-python"></i>
                            <img src="{{ asset('/build/img/flask.svg') }}" alt="Flask Logo" />
                            <i class="fa-brands fa-symfony"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sous-titre Projet & challenge cyber -->
        <h1 class="mb-4">
            Mes scripts pour résoudre des challenges cyber <br>
            <span class="mb-2 fs-4">(faites défiler les cards)</span>
        </h1>
        <!-- Conteneur Slick -->
        <div class="challenge-slider mb-5">
            <!-- Challenge 1 -->
            <div class="project-item">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <!-- Sans image, juste un bg -->
                    <div class="project-img-custom bg-primary text-white">
                        <span><i class="fa-solid fa-magnifying-glass"></i> Cryptanalyse</span>
                    </div>
                </div>
                <div class="project-title">
                    <span>Cryptanalyse</span>
                </div>
            </div>

            <!-- Challenge 2 -->
            <div class="project-item">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <div class="project-img-custom bg-primary text-white">
                        <span><i class="fa-solid fa-code"></i> Programmation</span>
                    </div>
                </div>
                <div class="project-title">
                    <span>Programmation</span>
                </div>
            </div>

            <!-- Challenge 3 -->
            <div class="project-item">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <div class="project-img-custom bg-primary text-white">
                        <span><i class="fa-solid fa-network-wired"></i> Réseau</span>
                    </div>
                </div>
                <div class="project-title">
                    <span>Réseau</span>
                </div>
            </div>

            <!-- Challenge 4 -->
            <div class="project-item">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalCC4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <div class="project-img-custom bg-primary text-white">
                        <span><i class="fa-solid fa-hashtag"></i> Codage et numération</span>
                    </div>
                </div>
                <div class="project-title">
                    <span>Codage et numération</span>
                </div>
            </div>
        </div>



        <!-- Sous-titre Autres -->
        <h1 class="mb-4">Mes plateformes cybers préférées :</h1>
        <!-- Grille des autres projets -->
        <div class="row justify-content-center mb-5">
            <!-- Root Me -->
            <div class="col-md-6 col-lg-3 mb-5">
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalAP1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid project-img-custom" src="{{ asset('/build/img/rootmecard.png')}}" alt="Root Me" />
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">Root Me</span>
                        <div class="icon-container">
                            <a href="https://www.root-me.org/br0nson" target="_blank" rel="noopener noreferrer" class="text-white">
                                <i class="fa-solid fa-link fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CyberLearning -->
            <div class="col-md-6 col-lg-3 mb-5">
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalAP2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid project-img-custom" src="{{ asset('/build/img/cyberlearning.png')}}" alt="CyberLearning" />
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">Cyber-Learning</span>
                        <div class="icon-container">
                            <a href="https://cyber-learning.fr/hacker-stats/?hackeur_id=1126" target="_blank" rel="noopener noreferrer" class="text-white">
                                <i class="fa-solid fa-link fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TryHackMe -->
            <div class="col-md-6 col-lg-3 mb-5">
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalAP3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid project-img-custom" src="{{ asset('/build/img/tryhackme.png')}}" alt="Try Hack Me" />
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">Try Hack Me</span>
                        <div class="icon-container">
                            <a href="https://tryhackme.com/r/p/br0nson" target="_blank" rel="noopener noreferrer" class="text-white">
                                <i class="fa-solid fa-link fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- The Black Side -->
            <div class="col-md-6 col-lg-3 mb-5">
                <div class="project-item">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalAP4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid project-img-custom" src="{{ asset('/build/img/theblackside.png')}}" alt="The Black Side" />
                    </div>
                    <div class="project-title d-flex align-items-center">
                        <span class="me-2">The Black Side</span>
                        <div class="icon-container">
                            <a href="https://theblackside.fr/profil/br0nson" target="_blank" rel="noopener noreferrer" class="text-white">
                                <i class="fa-solid fa-link fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

        <!-- Slick JS -->
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!-- Initialisation de Slick -->
{#<script src="{{ asset('js/projets/script.js') }}"></script>#}

</body>
</html>
